html, body {
    height: 95%;
    text-align: center;
    background-color: rgb(0, 140, 140);
    font-size: 0.88em;
    min-width: 500px;
}


#Gamescreen {
    width: 475px;
    height: 25px;
    position: absolute;
    top: 850px;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(95, 160, 160);
}

#Gamescreen:hover {
    background-color: rgb(95, 175, 175);
}

.side-box {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    width: calc((100% - 500px) / 2);
    background-color: rgb(0, 120, 120);
    border-width: 5px;
}

#left-side {
    left: 0;
}

#right-side {
    right: 0;
}

.panel {
    background-color: grey;
    display: grid;
    position: absolute;
    width: 235px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

#Upgrades {
    top: 125px;
    left: calc(50% - 245px); 
    height: 50px;
}

#UpgradesPower {
    top: 155px;
    left: calc(50% - 245px);
    height: 75px;
}

#UpgradesAuto {
    top: 230px;
    left: calc(50% - 245px); 
    height: 75px;
}

#UpgradesPerma {
    top: 305px;
    left: calc(50% - 245px); 
    height: 75px;
}

#Evolutions {
    top: 125px;
    left: calc(50% + 10px);
    height: 50px;
}

#Evolution {
    top: 155px;
    left: calc(50% + 10px); 
    height: 75px;
}

#EvotradeI {
    top: 230px;
    left: calc(50% + 10px); 
    height: 75px;
}

#EvotradeII {
    top: 305px;
    left: calc(50% + 10px); 
    height: 75px;
}

#Mysteries {
    top: 500px;
    height: 50px;
    width: 500px; 
    left: 50%;
    transform: translateX(-50%);
}

#MysteryGift {
    top: 550px;
    height: 50px;
    width: 500px; 
    left: 50%;
    transform: translateX(-50%);
}

#version {
    top: 900px;
    background-color: grey; 
    display: inline-block;           
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);   
    width: 500px;   
    height: 20px;  
    font-size: 1.525em;
}