html, body {
    height: 100%;
    text-align: center;
    background-color: darkcyan;
}

#circle {
    top: 10px;
    width: 400px;
    height: 400px;
    border-radius: 250px;
    background-color: rgb(0,0,100);
    color: white;
    font-size: 48px;
    cursor: pointer;
    position: relative;
    border-width: 5px;
    overflow: hidden;
    border-color: wheat;
    border-style: solid;
    transition: background-color 0.5s;
}

#circle:hover {
    background-color: rgb(0,0,225);
}


button {
    background-color: rgb(95, 95, 95);
    position: absolute;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s;
    color: white;
}


button:hover {
    background-color: rgb(125, 125, 125);
}


#powerupgrade {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 625px;
    left: 200px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    left: calc(50% - 125px);
}

#autoupgrade {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 625px;
    left: 450px;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    left: calc(50% + 125px);
}

#permanentupgrade {
    width: 450px;
    height: 50px;
    position: absolute;
    top: 675px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

#evolve {
    width: 400px;
    height: 50px;
    position: absolute;
    top: 725px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
}

#evotrade1 {
    width: 350px;
    height: 50px;
    position: absolute;
    top: 775px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
}
    

#currentRank {
    background-color: rgb(95, 95, 95);
    position: absolute;
    top: 825px;
    height: 25px;
    width: 250px;
    left: 50%;
    border-radius: 15px;
    transform: translateX(-50%);
    text-align: center;
}

h3 {
    background-color: grey; 
    display: inline-block;           
    border-radius: 5px;     
}